.u-section-1 .u-sheet-1 {
  min-height: 799px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  background-image: none;
  min-height: 850px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
}

.u-section-1 .u-line-1 {
  height: 70px;
  width: 9px;
  transform-origin: center top 0px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  font-weight: 700;
  margin: 40px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  line-height: 1.2;
  margin: 16px 30px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 40px auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 448px;
  background-image: url("images/IMG_0233.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-image-2 {
  background-image: url("images/IMG_0236.jpg");
  min-height: 311px;
  background-position: 50% 50%;
}

.u-section-1 .u-image-3 {
  background-image: url("images/IMG_0246.jpg");
  min-height: 311px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 661px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
  }

  .u-section-1 .u-line-1 {
    width: 7px;
    margin-top: 70px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 25px;
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 118px;
    font-size: 1rem;
    text-transform: none;
  }

  .u-section-1 .u-image-1 {
    min-height: 390px;
  }

  .u-section-1 .u-image-2 {
    min-height: 271px;
  }

  .u-section-1 .u-image-3 {
    min-height: 271px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1486px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 580px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-line-1 {
    width: 6px;
    margin-top: 55px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
    margin-bottom: 55px;
  }

  .u-section-1 .u-image-1 {
    min-height: 530px;
  }

  .u-section-1 .u-image-2 {
    min-height: 286px;
  }

  .u-section-1 .u-image-3 {
    min-height: 286px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1775px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -112px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-1 .u-line-1 {
    width: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1779px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -108px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 4px;
    padding-right: 4px;
  }
}.u-section-2 {
  background-image: url("images/IMG_0235.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 762px;
}

.u-section-2 .u-group-1 {
  min-height: 532px;
  width: 545px;
  height: auto;
  margin: 60px auto 60px 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 60px;
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 0 60px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-2 .u-group-1 {
    min-height: 508px;
    width: 528px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 49px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-2 .u-group-1 {
    min-height: 413px;
    width: 443px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 31px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 40px;
    margin-right: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-2 .u-group-1 {
    min-height: 418px;
    width: 424px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-2 .u-group-1 {
    min-height: 345px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 35px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 941px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 40px 0;
}

.u-section-3 .u-image-1 {
  min-height: 433px;
  background-image: url("images/IMG_0238.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 408px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 409px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 386px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-2 {
    padding-left: 31px;
    padding-right: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 433px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 408px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 209px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 496px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 48px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 657px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-4 .u-image-1 {
  min-height: 365px;
  background-image: url("images/IMG_0237.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 224px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 21px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 237px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: 144px 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 352px;
  background-image: url("images/IMG_0239.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-image-3 {
  min-height: 365px;
  background-image: url("images/IMG_0234.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding-right: 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 224px;
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 41px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 41px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-2 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-4 .u-layout-cell-3 {
    order: 1;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-4 .u-image-2 {
    order: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 17px;
    padding-right: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 15px;
    padding-right: 5px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 749px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px auto 30px 0;
}

.u-section-5 .u-image-1 {
  min-height: 639px;
  background-image: url("images/IMG_02301.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 639px;
}

.u-section-5 .u-container-layout-2 {
  padding-right: 27px;
  padding-left: 27px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 143px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 48px 0 98px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 564px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 564px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 17px;
    padding-left: 17px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 94px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-btn-1 {
    font-size: 1rem;
    text-transform: none;
    margin-bottom: 94px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 582px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 582px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 65px;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-cell-2 {
    min-height: 508px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 1px;
    padding-left: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 78px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: auto;
    margin-bottom: 78px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: -392px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 398px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 567px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-top: 45px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: 45px;
  }
}